.newcollections{
    display: flex;
    align-items: center;
    gap: 21px;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 75px;
}
.newcollections h1{
    color: rgba(0, 0, 0, 0.734);
    font-size: 70px;
    font-weight: 500;
    text-shadow: 0px 0px 50px blue;
}
.newcollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}