.home-category {
    background-color: white;
    padding: 20px;
    text-align: center;
}

#banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.fashioncategory-indexsort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 0, 112, 0.644);
    height: 60px;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.fashioncategory-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 2px solid black;
    height: 50px;
    width: 150px;
    color: azure;
    gap: 10px;
}

.fashioncategory-sort:hover {
    background-color: rgba(26, 0, 112, 0.521);
    cursor: pointer;
}

.fashioncategory-indexsort p span {
    font-weight: 600;
    font-size: 40px;
    padding-left: 100px;
    color: azure;
}

.fashioncategory-products {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    background-color: rgba(145, 126, 209, 0.173);
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fashioncategory-products .item {
    text-align: center;
    width: 100%;
    max-width: 250px;
    background-color: #C8A2C8; /* Lilac color */
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.item p {
    margin: 10px 0;
    text-align: center;
}

.item-prices {
    display: flex;
    justify-content: center;
}

.item-price-new {
    color: rgb(31, 162, 167);
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: rgb(0, 59, 82);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.fashioncategory-loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: rgba(18, 88, 167, 0.636);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: azure;
    text-shadow: 0px 0px 10px black;
}
